# Gitignore file for Violin following repo
.*
*.mat
*.xlsx
images/

scripts/stats/

Danny Boy/
In The Garden/

2022_pub_versions/output/
2022_pub_versions/images/
2022_pub_versions/scripts/Archive/
2022_pub_versions/scripts/stats/
2022_pub_versions/scripts/analysis_following_2022.R/

