# Gitignore file for Violin following repo
.gitignore
*.DS_Store
*

!scripts/

!scripts/cc_following.m


!Stats/Scripts/Master_following.Rmd
!Stats/Scripts/Master_following.html
!Stats/Scripts/prep_following.R
!Stats/Scripts/plots_following.R
!Stats/Scripts/lmer_following.R

!README.md
.Rproj.user
