# Gitignore file for Violin following repo
.gitignore
*

!Amp_envs/
!GC/
!GC/cc_following.m
GC/Other/

!Stats/Scripts/Master_following.Rmd
!Stats/Scripts/Master_following.html
!Stats/Scripts/prep_following.R
!Stats/Scripts/plots_following.R
!Stats/Scripts/lmer_following.R

!README.md
.Rproj.user
